* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif
}

nav {
    background-color: rgb(6, 73, 73);
    color: wheat;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 16%;
    padding: 10px;
    list-style: none;
}

.brand {
    cursor: pointer;
}

.nav-links li:hover {
    color: rgb(114, 94, 67);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 980px) {

    .nav-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40%;
        padding: 10px;
        list-style: none;
    }

    .nav-links li:hover {
        color: rgb(114, 94, 67);
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }


}